global:
# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: "prometheus_grafana"
    static_configs:
      - targets: ['{{ hostvars['prometheus_grafana']['ansible_facts']['default_ipv4']['address'] }}:9100']
  - job_name: "node_1"
    static_configs:
      - targets: ['{{ hostvars['node_1']['ansible_facts']['default_ipv4']['address'] }}:9100']
  - job_name: "node_2"
    static_configs:
      - targets: ['{{ hostvars['node_2']['ansible_facts']['default_ipv4']['address'] }}:9100']
